h1 {
    text-align: center;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: bold;
    color: cyan;
}

body {background-color: black;
      border:4px solid red;
      border-radius: 12px;
}

.p2 {text-align: center;
    color:cyan;
    }

  .navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 0;
    background-color: black; 
    width: 100%;
}


.nav-links {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 40px;
}


.nav-item {
    text-decoration: none;
    color: silver;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 2px; 
    text-transform: uppercase; 
    font-family: 'Poppins', sans-serif; 
    transition: all 0.3s ease;
}


.nav-item:hover {
    color: cyan;
    text-shadow: 0 0 10px cyan; 
}


.separator {
    width: 6px;
    height: 6px;
    background-color: cyan; 
    border-radius: 50%;
    box-shadow: 0 0 8px cyan;
}

li{display:inline;}
